<!DOCTYPE html>
{% load rango_template_tags %}
{% load staticfiles %}
<head>
    <title>
        Rango
        {% block title_block %}
                How to Tango with Django!
{% endblock %}
    </title>
</head>
<body>
        <div>
                {% block sidebar_block %}
        {% get_category_list category %}
    {% endblock %}
                </div>
    <div>
        {% block body_block %}
       
        {% endblock %}
    </div>
    <hr/>
    <div>
        <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'restricted' %}" style="color:blue">Restricted Page</a></li>
                <li><a href="{% url 'auth_password_change' %}" style="color:blue">Change Password</a> | 
                <a href="{% url 'auth_logout' %}?next=/rango/" style="color:blue">Logout</a></li>
                <li><a href="{% url 'add_category' %}" style="color:blue">Add New Category</a></li>  
                {% else %}
                <li><a href="{% url 'auth_login' %}" style="color:blue">Sign In</a></li>
                <li><a href="{% url 'registration_register' %}" style="color:blue">Sign Up</a></li> 
                {% endif %}


                
                <li><a href="{% url 'about' %}" style="color:blue">About</a></li>
                <li><a href="/" style="color:blue">Index</a></li>
                <!-- <li><a href="{% url 'register' %}" style="color:blue">Sign Up</a></li>
                <li><a href="{% url 'login' %}" style="color:blue">Login</a></li> -->
        </ul>
    </div>
</body>
</html>