
{% extends 'rango_t/base.html' %}
{% load staticfiles %}
{% block title_block %}
    {{ category.name }}
{% endblock %}

{% block body_block%}

    <div>
        {% if category %}
        <h1>{{ category.name }}</h1>
        {% if pages %}
        <ul>
            {% for page in pages %}
            <li><a href="{{ page.url }}" style="color:blue">{{ page.title }}</a> <a href="{% url 'update_page' page.id %}" style="color: crimson">Update</a></li>
            {% endfor %}



        </ul>
        {% else %}
        <strong>No Pages Currently in category.</strong>
        {% endif %}
        {% else %}
        The specific category does not exist!
        {% endif %}
    </div>
    <a href="{% url 'update_category' category.slug  %}">Update Category</a><br/>
    <a href="{% url 'add_page' category.slug%}" style="color:blue">Add a New Page</a><br />
    <!-- <a href="/rango/{{ category.slug }}/add_page/" style="color:blue">Add a New Page</a><br />    -->
    <!-- <a href="/" style="color:blue">Home Page</a> -->
{% endblock %}