<!DOCTYPE html>

<head>
    <title>Rango</title>
</head>

<body>
    <div>
        {% if category %}
        <h1>{{ category.name }}</h1>
        {% if pages %}
        <ul>
            {% for page in pages %}
            <li><a href="{{ page.url }}" style="color:blue">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No Pages Currently in category.</strong>
        {% endif %}
        {% else %}
        The specific category does not exist!
        {% endif %}
    </div>
    <a href="{% url 'add_page' category.slug%}" style="color:blue">Add a New Page</a><br />
    <!-- <a href="/rango/{{ category.slug }}/add_page/" style="color:blue">Add a New Page</a><br />    -->
    <a href="/" style="color:blue">Home Page</a>
</body>

</html>